* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #999;
}

.inner {
    position: relative;
    max-width: 1640px;
    margin: auto;
    height: 100%;
}

section {
    position: relative;
    z-index: 0;
    height: 100vh;
    background-color: antiquewhite;
}

section h2 {
    font-size: 120px;
}

section p {
    font-size: 17px;
    padding: 30px 0 50px;
}

a.btn {
    display: inline-block;
    background-color: white;
    padding: 10px 40px;
    font-size: 22px;
    border-radius: 25px;
    color: black;
}

header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
}

header .title a {
    color: aliceblue;
}

header .inner {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 42px;
}

nav ul a {
    color: #fff;
    font-size: 18px;
}

#s01 {
    background: url(../img/background.jpg) no-repeat center/cover; 
}

#s01 .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* #s01 .t-wrap > * {
    color: white;
} */

#s01 .t-wrap h2 {
    color: whitesmoke;
}

#s01 .t-wrap p {
    color: aquamarine;
}

#s02 {
    background: url(../img/background2.jpg) no-repeat center/cover;
}

#s02 .t-wrap{
  position: relative;
  display: inline-block;
}

#s02 .t-wrap::after{
  display: block;
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #404040;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
}

#s02 .t-wrap h2 {
    color: whitesmoke;
}

#s02 .t-wrap p {
    color: aquamarine;
}

.s02-list {
    width: 1716px;
    display:flex; 
    flex-wrap:wrap;
}

.s02-list li {
    width: 260px;
    height: 218px;
    margin: 8px;
    background-color: #ccc;
    text-align: center;
    box-sizing: border-box;
    padding: 50px;
}

.s02-list li h3 {
    font-size: 50px;
}

.s02-list li p {
    font-size: 16px;
}

#s02 .t-wrap h2 {
    color: white;
}

#s03 {
  display: flex;
  width: 100%;
}

#s03 .inner {
    background: url(../img/background3.jpg) no-repeat center/cover;
}

#s03 .inner2 {
    background: url(../img/inner2.jpg) no-repeat center/cover;
}

#s03 .inner, #s03 .inner2 {
    flex: 1;
}

#s03 .inner .t-wrap {
    text-align: center;
    box-sizing: border-box;
    padding: 380px 0 0;
}

#s03 .t-wrap h2 {
    color: whitesmoke;
}

#s03 .t-wrap p {
    color: aquamarine;
}

#s04 {
    background: url(../img/background4.jpg) no-repeat center/cover;
    padding: 100px 0;
}

#s04 .t-wrap {
    position: relative;
}

#s04 .t-wrap a.btn {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -24px;
}

#s04 .t-wrap h2 {
    color: whitesmoke;
}

#s04 .t-wrap p {
    color: aquamarine;
}

.s04-list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 100px 0 0 0;
}

.s04-list li {
  background: #ccc;
  width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.s04-list li:nth-child(2) {
    margin-top: 70px;
}

.s04-list li:nth-child(4) {
    margin-top: 70px;
}

.s04-list a {
    color: black;
}

.s04-list h4 {
    font-size: 60px;
    font-weight: bold;
}